<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sariaydinalparslan.coutries">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.sariaydinalparslan.tuto.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_countries"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_countries_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coutries"
        tools:targetApi="31">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".ui.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SelectCountryActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SinglePlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.GameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>